.social-icons-list {
	list-style:none;
}

.social-icons-list li {
	background-size: 30px auto; 
	height: 30px; 
	width: 30px;
	margin: 20% 10%;
}

.social-icons-list li a {
	width: 30px; 
	position: absolute; 
	font-size: 0px; 
	height: 31px;
	text-decoration:none;
}

.social-icons-list .facebook {
	background-image: url("icons/facebook.png"); 
}

.social-icons-list .twitter {
	background-image: url("icons/twitter.png");
}

.social-icons-list .youtube {
	background-image: url("icons/youtube.png");
    height: 32px;
}

.social-icons-list .linkedin {
	background-image: url("icons/linkedin.png");
	background-size: 36px auto;
}

.social-icons-list .googleplus {
	background-image: url("icons/googleplus.png");
}

.social-icons-list .github {
	background-image: url("icons/github.png");
}

.social-icons-list .wordpress {
	background-image: url("icons/wordpress.png"); 
}

.social-icons-list .drupal {
	background-image: url("icons/drupal.png");
	background-size: 28px auto;
    height: 32px;
    width: 28px;
}

.social-icons-list .instagram {
	background-image: url("icons/instagram.png");
	background-size: 130px auto;
    height: 31px;
}

.social-icons-list .pinterest {
	background-image: url("icons/pinterest.png"); 
}

.social-icons-list .yelp {
	background-image: url("icons/yelp.png"); 
	height:35px;
}